body{

	font-family: 'Raleway', Helvetica, sans-serif;
	background-color: black;
	color: black;
}

#title {
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	margin: 30px 0 30px 0;
}

#description {
	margin-bottom: 20px;
	padding-top: 30px;
	text-align: center;
	font-size: 20px;
	text-align: center;
}

main {
	width: 75%;
	max-width: 900px;
	background-color: #588c7e;
	margin: 10px auto 10px auto;
	border-radius: 5px;

}

#survey-form {
	padding: 30px;
}

.label {
	display: inline-block;
	width: 400px;
	text-align: right;
	margin-right: 5px;
}

.mytext {
	width: 200px;
	height: 30px;
	border-radius: 5px;

}

#dropdown {
	width: 130px;
	height: 30px;
}

ul {
	display: inline-block;
	vertical-align: middle;
	padding-left: 0;
}

li {
	list-style-type: none;

}

#checkbox{
	vertical-align: top;
}

#textarea {
	border-radius: 3px;
	vertical-align: top;
	margin-top: 10px;
	resize: vertical;
}

div {
	text-align: center;
}

#submit {
	margin: 30px auto 10px auto;
	border-radius: 5px;
	height: 40px;
	width: 100px;
	font-size: 18px;

}




